main {
    background-image: url('../../img/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @include my-centered-section;

    .cards {
        @include my-flex(column, space-around, flex-start, wrap);

        section {
            @include my-flex(row, flex-start, center, wrap);
            padding: 40px;
        }

        h2 {
            color: black;
            margin: 30px 0;
        }

        .card {
            padding: 10px;

            img {
                width: $cards-img-width;
            }

        }
    }
}
